In [1]:
#Import the required packages
#Import package pandas for data analysis
import pandas as pd

# Import package numpy for numeric computing
import numpy as np

# Import package matplotlib for visualisation/plotting
import matplotlib.pyplot as plt

#For showing plots directly in the notebook run the command below
%matplotlib inline

# For saving multiple plots into a single pdf file
from matplotlib.backends.backend_pdf import PdfPages

In [2]:
# Reading from a csv file, into a data frame
# setting parameters to remove white space from the beginning and end of column names
df = pd.read_csv('covid19-cdc-20204883.csv', keep_default_na=True, sep=',\s+', delimiter=',', skipinitialspace=True)

In [3]:
#Checking how many rows and columns the dataset has
df.shape

(10000, 12)

In [4]:
#printing first 5 rows in the dataset
df.head(5)

,cdc_case_earliest_dt,cdc_report_dt,pos_spec_dt,onset_dt,current_status,sex,age_group,race_ethnicity_combined,hosp_yn,icu_yn,death_yn,medcond_yn
0,2020/12/30,2020/12/30,2021/01/02,2020/12/30,Laboratory-confirmed case,Male,40 - 49 Years,"White, Non-Hispanic",No,No,No,Yes
1,2020/12/21,2020/12/29,2020/12/22,2020/12/21,Laboratory-confirmed case,Male,60 - 69 Years,"White, Non-Hispanic",No,No,No,No
2,2020/11/20,2020/11/26,NaN,NaN,Probable Case,Female,30 - 39 Years,Unknown,No,Unknown,No,Missing
3,2020/12/17,NaN,NaN,NaN,Laboratory-confirmed case,Male,10 - 19 Years,Unknown,Unknown,Missing,No,Missing
4,2020/04/24,2020/05/04,NaN,2020/04/24,Laboratory-confirmed case,Female,50 - 59 Years,"White, Non-Hispanic",No,Unknown,No,Yes

In [5]:
#printing last 5 rows in the dataset
df.tail(5)

,cdc_case_earliest_dt,cdc_report_dt,pos_spec_dt,onset_dt,current_status,sex,age_group,race_ethnicity_combined,hosp_yn,icu_yn,death_yn,medcond_yn
9995,2020/11/01,2020/11/01,2020/11/01,2020/11/01,Laboratory-confirmed case,Male,30 - 39 Years,"White, Non-Hispanic",No,Unknown,No,No
9996,2020/10/04,2020/10/13,NaN,2020/10/04,Laboratory-confirmed case,Male,60 - 69 Years,"White, Non-Hispanic",No,No,No,Yes
9997,2020/05/26,2020/05/28,NaN,2020/05/28,Laboratory-confirmed case,Male,30 - 39 Years,Unknown,Unknown,Missing,No,Missing
9998,2020/08/28,2020/09/21,NaN,2020/08/28,Probable Case,Female,30 - 39 Years,"Black, Non-Hispanic",No,Missing,No,Missing
9999,2020/12/11,2020/12/11,NaN,2020/12/13,Laboratory-confirmed case,Male,70 - 79 Years,"White, Non-Hispanic",No,Missing,No,Missing

In [6]:
#Replacing NaN values with "Missing" to have everything under one umbrella
#df.fillna("Missing", inplace = True)

In [7]:
df.tail(5)

,cdc_case_earliest_dt,cdc_report_dt,pos_spec_dt,onset_dt,current_status,sex,age_group,race_ethnicity_combined,hosp_yn,icu_yn,death_yn,medcond_yn
9995,2020/11/01,2020/11/01,2020/11/01,2020/11/01,Laboratory-confirmed case,Male,30 - 39 Years,"White, Non-Hispanic",No,Unknown,No,No
9996,2020/10/04,2020/10/13,NaN,2020/10/04,Laboratory-confirmed case,Male,60 - 69 Years,"White, Non-Hispanic",No,No,No,Yes
9997,2020/05/26,2020/05/28,NaN,2020/05/28,Laboratory-confirmed case,Male,30 - 39 Years,Unknown,Unknown,Missing,No,Missing
9998,2020/08/28,2020/09/21,NaN,2020/08/28,Probable Case,Female,30 - 39 Years,"Black, Non-Hispanic",No,Missing,No,Missing
9999,2020/12/11,2020/12/11,NaN,2020/12/13,Laboratory-confirmed case,Male,70 - 79 Years,"White, Non-Hispanic",No,Missing,No,Missing

In [8]:
df.dtypes

cdc_case_earliest_dt       object
cdc_report_dt              object
pos_spec_dt                object
onset_dt                   object
current_status             object
sex                        object
age_group                  object
race_ethnicity_combined    object
hosp_yn                    object
icu_yn                     object
death_yn                   object
medcond_yn                 object
dtype: object

In [9]:
#changing the categorical columns to category type
df['current_status'] = df['current_status'].astype('category')
df['sex'] = df['sex'].astype('category')
df['age_group'] = df['age_group'].astype('category')
df['race_ethnicity_combined'] = df['race_ethnicity_combined'].astype('category')
df['hosp_yn'] = df['hosp_yn'].astype('category')
df['icu_yn'] = df['icu_yn'].astype('category')
df['death_yn'] = df['death_yn'].astype('category')
df['medcond_yn'] = df['medcond_yn'].astype('category')

In [10]:
df.dtypes

cdc_case_earliest_dt         object
cdc_report_dt                object
pos_spec_dt                  object
onset_dt                     object
current_status             category
sex                        category
age_group                  category
race_ethnicity_combined    category
hosp_yn                    category
icu_yn                     category
death_yn                   category
medcond_yn                 category
dtype: object

In [11]:
#descriptive table of the columns. Checking interesting data for each feature.
df.describe().T

                         count unique                        top  freq
cdc_case_earliest_dt     10000    319                 2020/12/28   110
cdc_report_dt             7673    322                 2020/06/10   130
pos_spec_dt               2837    313                 2020/12/07    36
onset_dt                  5064    322                 2020/11/30    48
current_status           10000      2  Laboratory-confirmed case  9307
sex                      10000      4                     Female  5213
age_group                10000     10              20 - 29 Years  1846
race_ethnicity_combined  10000      9                    Unknown  4030
hosp_yn                  10000      4                         No  5221
icu_yn                   10000      4                    Missing  7637
death_yn                 10000      2                         No  9684
medcond_yn               10000      4                    Missing  7431

In [37]:
#checking unique values of specific columns
df['hosp_yn'].unique

<bound method Series.unique of 0            No
1            No
2            No
3       Unknown
4            No
         ...
9995         No
9996         No
9997    Unknown
9998         No
9999         No
Name: hosp_yn, Length: 10000, dtype: category
Categories (4, object): ['Missing', 'No', 'Unknown', 'Yes']>

In [39]:
#checking unique values of specific columns
df['race_ethnicity_combined'].unique

<bound method Series.unique of 0       White, Non-Hispanic
1       White, Non-Hispanic
2                   Unknown
3                   Unknown
4       White, Non-Hispanic
               ...
9995    White, Non-Hispanic
9996    White, Non-Hispanic
9997                Unknown
9998    Black, Non-Hispanic
9999    White, Non-Hispanic
Name: race_ethnicity_combined, Length: 10000, dtype: category
Categories (9, object): ['American Indian/Alaska Native, Non-Hispanic', 'Asian, Non-Hispanic', 'Black, Non-Hispanic', 'Hispanic/Latino', ..., 'Multiple/Other, Non-Hispanic', 'Native Hawaiian/Other Pacific Islander, Non-H..., 'Unknown', 'White, Non-Hispanic']>

In [41]:
df['icu_yn'].unique

<bound method Series.unique of 0            No
1            No
2       Unknown
3       Missing
4       Unknown
         ...
9995    Unknown
9996         No
9997    Missing
9998    Missing
9999    Missing
Name: icu_yn, Length: 10000, dtype: category
Categories (4, object): ['Missing', 'No', 'Unknown', 'Yes']>

In [12]:
#changing the slash so I can convert the format of the columns to datetime
df['cdc_case_earliest_dt'] = df['cdc_case_earliest_dt'].str.replace('/', '')
df['cdc_report_dt'] = df['cdc_report_dt'].str.replace('/', '')
df['pos_spec_dt'] = df['pos_spec_dt'].str.replace('/', '')
df['onset_dt'] = df['onset_dt'].str.replace('/', '')

In [13]:
#changing the dates columns format to datetime 
df['cdc_case_earliest_dt'] = pd.to_datetime(df['cdc_case_earliest_dt'], format='%Y%m%d')
df['cdc_report_dt'] = pd.to_datetime(df['cdc_report_dt'], format='%Y%m%d')
df['pos_spec_dt'] = pd.to_datetime(df['pos_spec_dt'], format='%Y%m%d')
df['onset_dt'] = pd.to_datetime(df['onset_dt'], format='%Y%m%d')

In [14]:
df.dtypes

cdc_case_earliest_dt       datetime64[ns]
cdc_report_dt              datetime64[ns]
pos_spec_dt                datetime64[ns]
onset_dt                   datetime64[ns]
current_status                   category
sex                              category
age_group                        category
race_ethnicity_combined          category
hosp_yn                          category
icu_yn                           category
death_yn                         category
medcond_yn                       category
dtype: object

In [15]:
#checking null values in cdc_report column
df['cdc_report_dt'].isnull().sum()

2327

In [16]:
#checking how many null values I have in each of the columns. I see that there are many null values in the date columns excluding cdc_case_earliest
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   cdc_case_earliest_dt     10000 non-null  datetime64[ns]
 1   cdc_report_dt            7673 non-null   datetime64[ns]
 2   pos_spec_dt              2837 non-null   datetime64[ns]
 3   onset_dt                 5064 non-null   datetime64[ns]
 4   current_status           10000 non-null  category
 5   sex                      10000 non-null  category
 6   age_group                10000 non-null  category
 7   race_ethnicity_combined  10000 non-null  category
 8   hosp_yn                  10000 non-null  category
 9   icu_yn                   10000 non-null  category
 10  death_yn                 10000 non-null  category
 11  medcond_yn               10000 non-null  category
dtypes: category(8), datetime64[ns](4)
memory usage: 392.5 KB

In [17]:
#checking how many duplicate rows there is in the dataaset.
print('Number of duplicate (excluding first) rows in the table is: ', df.duplicated().sum())

Number of duplicate (excluding first) rows in the table is:  438

In [18]:
#columns looking good, no white space in the column 
df.column

Index(['cdc_case_earliest_dt', 'cdc_report_dt', 'pos_spec_dt', 'onset_dt',
       'current_status', 'sex', 'age_group', 'race_ethnicity_combined',
       'hosp_yn', 'icu_yn', 'death_yn', 'medcond_yn'],
      dtype='object')

In [29]:
df.describe().T

<ipython-input-29-ab545e235235>:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  df.describe().T
<ipython-input-29-ab545e235235>:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  df.describe().T
<ipython-input-29-ab545e235235>:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  df.describe().T
<ipython-input-29-ab545e235235>:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  df.describe().T

,count,unique,top,freq,first,last
cdc_case_earliest_dt,10000,319,2020-12-28 00:00:00,110,2020-01-01,2021-01-16
cdc_report_dt,7673,322,2020-06-10 00:00:00,130,2020-03-04,2021-01-29
pos_spec_dt,2837,313,2020-12-07 00:00:00,36,2020-03-13,2021-01-24
onset_dt,5064,322,2020-11-30 00:00:00,48,2020-01-01,2021-01-27
current_status,10000,2,Laboratory-confirmed case,9307,NaT,NaT
sex,10000,4,Female,5213,NaT,NaT
age_group,10000,10,20 - 29 Years,1846,NaT,NaT
race_ethnicity_combined,10000,9,Unknown,4030,NaT,NaT
hosp_yn,10000,4,No,5221,NaT,NaT
icu_yn,10000,4,Missing,7637,NaT,NaT
death_yn,10000,2,No,9684,NaT,NaT
medcond_yn,10000,4,Missing,7431,NaT,NaT

In [44]:
df.describe(datetime_is_numeric=True).T

,count,mean,min,25%,50%,75%,max
cdc_case_earliest_dt,10000,2020-10-04 16:25:58.080000000,2020-01-01,2020-07-25,2020-11-07,2020-12-15,2021-01-16
cdc_report_dt,7673,2020-10-16 05:30:29.323602176,2020-03-04,2020-08-14,2020-11-11,2020-12-21,2021-01-29
pos_spec_dt,2837,2020-09-17 07:27:10.595699712,2020-03-13,2020-07-03,2020-10-17,2020-12-04,2021-01-24
onset_dt,5064,2020-09-22 05:01:08.246445568,2020-01-01,2020-07-15,2020-10-21,2020-12-03,2021-01-27

#Look at the categorical features only
category_columns = df.select_dtypes(['category']).columns
df[category_columns].head(10)

In [45]:
#List how many times each level of the feature appears in the dataset.
# By default this does now show the NaN values. The option .value_counts(dropna=False) keeps the NaN values.
df['age_group'].value_counts(dropna=False)

20 - 29 Years    1846
30 - 39 Years    1650
40 - 49 Years    1469
50 - 59 Years    1400
60 - 69 Years    1072
10 - 19 Years    1055
70 - 79 Years     580
80+ Years         477
0 - 9 Years       440
Missing            11
Name: age_group, dtype: int64

In [47]:
#checking how many times each value appears in the dataset of this feature
df['race_ethnicity_combined'].value_counts(dropna=False)

Unknown                                                 4030
White, Non-Hispanic                                     3344
Hispanic/Latino                                         1036
Black, Non-Hispanic                                      694
Multiple/Other, Non-Hispanic                             476
Asian, Non-Hispanic                                      249
Missing                                                   99
American Indian/Alaska Native, Non-Hispanic               60
Native Hawaiian/Other Pacific Islander, Non-Hispanic      12
Name: race_ethnicity_combined, dtype: int64

In [ ]:
#checking how many times each value appears in the dataset of this feature
df['race_ethnicity_combined'].value_counts(dropna=False)